<div class="row">
    <div class="card col-md-4">
        <img id="newsCardImg1" src="<%= newsList[1].image_url %>" class="card-img-top">
        <div class="card-body">
            <h5 id="newsTitle1" class="card-title"><%= newsList[1].title %></h5>
            <p id="newsDescription1" class="card-text"><%= newsList[1].description %></p>
        </div>
        <div class="card-body">
            <a id="newsLink1" href="<%= newsList[1].url %>" class="card-link" target="_blank">View article</a>
        </div>
    </div>
    <div class="card col-md-4">
        <img id="newsCardImg2" src="<%= newsList[2].image_url %>" class="card-img-top">
        <div class="card-body">
            <h5 id="newsTitle2" class="card-title"><%= newsList[2].title %></h5>
            <p id="newsDescription2" class="card-text"><%= newsList[2].description %></p>
        </div>
        <div class="card-body">
            <a id="newsLink2" href="<%= newsList[2].url %>" class="card-link" target="_blank">View article</a>
        </div>
    </div>
    <div class="card col-md-4">
        <img id="newsCardImg3" src="<%= newsList[3].image_url %>" class="card-img-top">
        <div class="card-body">
            <h5 id="newsTitle3" class="card-title"><%= newsList[3].title %></h5>
            <p id="newsDescription3" class="card-text"><%= newsList[3].description %></p>
        </div>
        <div class="card-body">
            <a id="newsLink3" href="<%= newsList[3].url %>" class="card-link" target="_blank">View article</a>
        </div>
    </div>
</div>
